@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

.font1 {
  font-family: "Raleway", sans-serif;
}

.font2{
  font-family: "Montserrat", sans-serif;;
}

html {
  scroll-behavior: smooth;
}